/*
Colors:
grey: rgba(44,62,80,1);
red: rgba(231,76,60,1);
white: rgba(236,240,241,1);
light blue: rgba(52,152,219,1);
dark blue: rgba(41,128,185,1);

*/

* {
  outline: none;
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif, monospace;
}

button {
  cursor: pointer;
}

/* MENU */
.menu {
  height: 100vh;
  background: rgba(52,152,219,1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.messages {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.message {
  color: rgba(231,76,60,0.8);
  font-size: 4.3vh;
  font-weight: 800;
  visibility: hidden;
}

.noughtsOrCrosses{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  height: 30vh;
}

.xandO {
  height: 90px;
  width: 90px;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}


.xandO img{
  height: 80px;
  width: 80px;
}

.difficultyLevel {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  height: 20vh;
}

.play {
  display: flex;
  justify-content: center;
  height: 10vh;
}


.diff {
  background:  rgba(236,240,241,1);
  border: none;
  margin: 2vh;
  height: 6vh;
  width: 17vh;
  border-radius: 5px;
  color: rgba(44,62,80,1);
  font-size: 2.5vh;
  text-align: center;
}

#startGame {
  background:  rgba(231,76,60,0.8);
  border: none;
  height: 8vh;
  width: 13vh;
  border-radius: 5px;
  color: rgba(236,240,241,1);
  font-size: 3vh;
}

/* Wrapper MENU buttons */
.wrapperMenu {
  display: flex;
  width: 100%;
  justify-content: center;
}

#menuBtn {
  border: none;
  background: rgba(236,240,241,1);
  width: 14vh;
  height: 7vh;
  border-radius: 5px;
  margin: 1vh;
  font-size: 2.7vh;
}

#resetBtn {
  border: none;
  background: rgba(231,76,60,0.8);
  color: rgba(236,240,241,1);
  height: 7vh;
  width: 14vh;
  border-radius: 5px;
  margin: 1vh;
  font-size: 2.7vh;
}
button:hover {
  opacity: 0.8;
}


.text {
  display:flex;
  justify-content: center;
  align-items: center;
  color: rgba(236,240,241,1);
  width: 100%;
}
/* duplicate error */

.error {
  background: rgba(231,76,60,0.6);
  transition: 0.3s;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(52,152,219,1);
}

.row {
  margin: 0px;
  padding: 0px;
  width: 304px;
  display: flex;
  flex-wrap: wrap;
}
  
.square {
  border: 2px solid rgba(41,128,185,1);
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
  flex: 1 1 33%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*hiding images without src*/

img {
  visibility: hidden;
}

img[src] {
  visibility: visible;
}

/*removing unnecessary borders*/
#sq0{
  border-top: none;
  border-left: none;
}
#sq1{
  border-top: none;
}

#sq2{
  border-right: none;
  border-top: none;
}
#sq3{
  border-left: none;
}
#sq5{
  border-right: none;
}

#sq6{
  border-left: none;
  border-bottom: none;
}

#sq7{
  border-bottom: none;
}

#sq8{
  border-right: none;
  border-bottom: none;
}


/* X and O classes*/

.cross img{
  height: 70%;
  width: 70%;
}

.circle img{
  height: 70%;
  width: 70%;
}

/* click effect */

.clicked {
  transform: scale(0.95);
  transition: 0.2s;
}

/* select effect */

.selected {
  background: rgba(231,76,60,0.6);
  border-radius: 5px;
  color: rgba(236,240,241,1)
}

/*MEDIA QUERIES*/

@media (max-width: 480px) {
  .xandO {
    height: 70px;
    width: 70px;
  }


  .xandO img{
    height: 60px;
    width: 60px;
  }
  
  .play {
    margin-top: 5vh;
  }
  
}