body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}



/* MENU */
.menu {
  height: 100vh;
}

.noughtsOrCrosses{
  display: flex;
  justify-content: center;
}

.xandO {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.xandO img{
  height: 40px;
  width: 40px;
}

.difficultyLevel {
  display: flex;
  justify-content: center;
}

.play {
  display: flex;
  justify-content: center;
}


.diff {
  background: none;
  border: none;
}

#startGame {
  background: none;
  border: none;
}

/* Wrapper MENU buttons */
.wrapperMenu {
  display: flex;
  width: 100%;
  justify-content: center;
  
}


/* duplicate error */

.error {
  background: rgba(255,0,0,0.2);
  transition: 0.3s;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  margin: 0px;
  padding: 0px;
  width: 304px;
  display: flex;
  flex-wrap: wrap;
}
  
.square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
  flex: 1 1 33%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*hiding images without src*/

img {
  visibility: hidden;
}

img[src] {
  visibility: visible;
}

/*removing unnecessary borders*/
#sq0{
  border-top: none;
  border-left: none;
}
#sq1{
  border-top: none;
}

#sq2{
  border-right: none;
  border-top: none;
}
#sq3{
  border-left: none;
}
#sq5{
  border-right: none;
}

#sq6{
  border-left: none;
  border-bottom: none;
}

#sq7{
  border-bottom: none;
}

#sq8{
  border-right: none;
  border-bottom: none;
}


/* X and O classes*/

.cross img{
  height: 70%;
  width: 70%;
}

.circle img{
  height: 70%;
  width: 70%;
}